In [2]:
import pandas as pd
from sqlalchemy import create_engine
import os

### Store CSV into DataFrame

In [6]:
res_file_1= os.path.join("Data","ReservationData1.csv")
res_data_1_df = pd.read_csv(res_file_1)
res_data_1_df

,OrderNumber,Park,SiteType,FacilityID,FacilityState,StartDate,EndDate,NumberOfPeople
0,2-32735678,SADDLEHORN CAMPGROUND,STANDARD NONELECTRIC,234778.0,CO,10/9/2015,10/11/2015,1
1,2-32734735,BLANCO RIVER GROUP CAMPGROUND,GROUP STANDARD NONELECTRIC,233318.0,CO,7/7/2016,7/10/2016,75
2,2-32736183,CUTTHROAT BAY GROUP,GROUP STANDARD NONELECTRIC,233880.0,CO,7/15/2016,7/17/2016,30
3,2-32734610,Pinon Flats Campground,GROUP TENT ONLY AREA NONELECTRIC,234685.0,CO,10/23/2015,10/25/2015,20
4,2-32737179,SADDLEHORN CAMPGROUND,STANDARD NONELECTRIC,234778.0,CO,10/3/2015,10/4/2015,2
...,...,...,...,...,...,...,...,...
1048570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1048571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
1048572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
1048573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
1048574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5

In [19]:
res_file_2= os.path.join("Data","ReservationData2.csv")
res_data_2_df = pd.read_csv(res_file_2)
res_data_2_df.head()

,OrderNumber,Park,SiteType,FacilityID,FacilityState,StartDate,EndDate,NumberOfPeople
0,2-29871859,SPRINGER GULCH,STANDARD NONELECTRIC,233718,CO,9/7/2014,9/9/2014,2
1,2-29871867,Pinyon (PiÃ±on) Flats Campground,GROUP TENT ONLY AREA NONELECTRIC,234685,CO,10/10/2014,10/12/2014,30
2,2-29872914,BELLAIRE LAKE CAMPGROUND,STANDARD ELECTRIC,233137,CO,8/30/2014,9/1/2014,4
3,2-29870963,MOUNTAIN PARK,GROUP STANDARD AREA NONELECTRIC,231852,CO,8/7/2015,8/10/2015,31
4,2-29870966,MATTERHORN,STANDARD NONELECTRIC,233902,CO,8/28/2014,8/29/2014,2

In [20]:
import dask.dataframe as dd

df_1=dd.from_pandas(res_data_1_df,npartitions=3)

In [21]:
df_1.head(5)

,OrderNumber,Park,SiteType,FacilityID,FacilityState,StartDate,EndDate,NumberOfPeople
0,2-32735678,SADDLEHORN CAMPGROUND,STANDARD NONELECTRIC,234778.0,CO,10/9/2015,10/11/2015,1
1,2-32734735,BLANCO RIVER GROUP CAMPGROUND,GROUP STANDARD NONELECTRIC,233318.0,CO,7/7/2016,7/10/2016,75
2,2-32736183,CUTTHROAT BAY GROUP,GROUP STANDARD NONELECTRIC,233880.0,CO,7/15/2016,7/17/2016,30
3,2-32734610,Pinon Flats Campground,GROUP TENT ONLY AREA NONELECTRIC,234685.0,CO,10/23/2015,10/25/2015,20
4,2-32737179,SADDLEHORN CAMPGROUND,STANDARD NONELECTRIC,234778.0,CO,10/3/2015,10/4/2015,2

In [22]:
df_2=df.append(res_data_2_df)

In [23]:
df_2

Dask DataFrame Structure:
              OrderNumber    Park SiteType FacilityID FacilityState StartDate EndDate NumberOfPeople
npartitions=4
                   object  object   object    float64        object    object  object          int64
                      ...     ...      ...        ...           ...       ...     ...            ...
                      ...     ...      ...        ...           ...       ...     ...            ...
                      ...     ...      ...        ...           ...       ...     ...            ...
                      ...     ...      ...        ...           ...       ...     ...            ...
Dask Name: concat, 12 tasks

In [24]:
df=df_2.compute()

In [25]:
df

,OrderNumber,Park,SiteType,FacilityID,FacilityState,StartDate,EndDate,NumberOfPeople
0,2-32735678,SADDLEHORN CAMPGROUND,STANDARD NONELECTRIC,234778.0,CO,10/9/2015,10/11/2015,1
1,2-32734735,BLANCO RIVER GROUP CAMPGROUND,GROUP STANDARD NONELECTRIC,233318.0,CO,7/7/2016,7/10/2016,75
2,2-32736183,CUTTHROAT BAY GROUP,GROUP STANDARD NONELECTRIC,233880.0,CO,7/15/2016,7/17/2016,30
3,2-32734610,Pinon Flats Campground,GROUP TENT ONLY AREA NONELECTRIC,234685.0,CO,10/23/2015,10/25/2015,20
4,2-32737179,SADDLEHORN CAMPGROUND,STANDARD NONELECTRIC,234778.0,CO,10/3/2015,10/4/2015,2
...,...,...,...,...,...,...,...,...
186417,2-32660704,GORE CREEK CAMPGROUND,TENT ONLY NONELECTRIC,234794.0,CO,9/18/2015,9/20/2015,2
186418,2-32656250,ROBERTS CABIN,CABIN NONELECTRIC,233808.0,CO,10/6/2015,10/9/2015,2
186419,2-32657290,MORAINE PARK CAMPGROUND,WALK TO,232463.0,CO,9/13/2015,9/16/2015,1
186420,2-32657310,SPRINGER GULCH,STANDARD NONELECTRIC,233718.0,CO,9/18/2015,9/21/2015,4
186421,2-32657321,DIFFICULT CAMPGROUND,STANDARD NONELECTRIC,231880.0,CO,9/20/2015,9/24/2015,2

### Store CSV into DataFrame

In [ ]:
rds_connection_string = "<postgres>:<postgres>@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')